.calculator{
    border: 2px solid grey;
    display: inline-block;
    padding: 10px;
    width: 50%;
    border-radius: 2px;
}


.result {
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 2px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.result-text{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    height: 30px;
    gap: 5px;
    margin-top: 10px;
}

/* .row:not(:last-child) {
    margin-bottom: 10px;
} */
.btn{
    flex: 1;
}

.grey button{
    background-color: darkgray;
}

.main-btns{
    display: flex;
    gap: 5px;
}

.numbers{
    flex: 4;
    margin-top: 10px;
}

.equal-btn{
    flex: 1;
    margin-top: 20px;
}